<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">
    <p>&copy; 2015. Produced by Jannaelson Alves<p>
        <!-- Made with <i class="fa fa-heart"></i> by <a href="https://twitter.com/beeman_nl">beeman</a> -->
        <!-- https://medium.com/@beeman/tutorial-styling-angular-cli-v6-apps-with-bootstrap-8d4f8ea5adae -->
        <!-- https://medium.com/@tomastrajan/how-to-build-responsive-layouts-with-bootstrap-4-and-angular-6-cfbb108d797b -->
  </div>
</nav>